<li class="comment">
  <div class="pull-left face">
  <%= user_avatar_tag(comment.user, 50, :rel => "tooltip", :title => comment.user.name)%>
  </div>
  <div class="infos">
    <div class="name row-fluid">
      <span class="pull-left"><%= link_to comment.user.name, user_path(comment.user.name)%></span>
      <span class="pull-right"><%= timeago comment.created_at %></span>
    </div>
    <div class="body">
      <p><%= comment.body %></p>
    </div>
  </div>
</li>
