<div class="box news" id="latest-news">
  <h2>新闻资讯<div class="pull-right"><%= link_to "更多", news_index_path %></div>
  </h2>
  <ul>
    <%= render :partial => "../views/news/news", :collection => @latest_news%>
  </ul>
</div>