<div class="box">
  <%= render :partial => "sub_nav"%>
  <ul id="user-feeds" class="unstyled">
    <%= render :partial => "common/feed", :collection => @feeds %>
  </ul>
  <%= paginate @feeds, :theme => 'bootstrap' %>
</div>

