<div class="box">
  <h2>最新云应用</h2>
  <div id="apps">
    <%= render :partial => "common/app", :collection => @apps %>
    <%= paginate @apps, :theme => 'bootstrap' %>
  </div>
</div>
<% content_for :sidebar do%>
<div class="box">
  <%= render :partial => "common/add_node_link" %>
</div>
<% end %> 