<%= render 'form' %>
<% content_for :sidebar do%>
  <h4>一起构建云应用收集平台</h4>
  liveinapp是一个收集发现各个与云应用有关的网站，以及对云应用评价、分享的平台。所以这里需要大家的参与。如果你发现云应用，欢迎您在这里提交分享。
  <h5>我提交的网站什么时候显示</h5>
  <p>云应用添加过程需要有个简单审批过程，审批过程很快。</p>
  <h5>接受那些类型的网站</h5>
  <p>包括与云平台有关和主机服务有关的所有，如在线项目管理、域名注册、VPS、虚拟主机</p>
<% end %>