<div class="box">
  <%= render 'form' %>
</div>
<% content_for :sidebar do%>
<div class="box">
  <h2>一起构建云应用收集平台</h2>
  liveinapp.com是一个收集发现各个与云应用有关的网站，以及对云应用评价、分享的平台。所以这里需要大家的参与。如果你发现云应用，欢迎您在这里提交分享。
</div>
<div class="box">
  <h2>输入说明</h2>
</div>
<% end %>