<div class="span12">
  <div class="box app-wrap">
    <div class="apps">
      <%= render :partial => "common/app", :locals => {:app => @app}%>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="box">
        <h2>
          价格表
          <div class="pull-right">
            <a href="<%= @app.pricing_url%>" target="_blank"><i class="icon-eye-open"></i>官方链接</a>
          </div>
        </h2>
        
      </div>
    </div>
    <div class="span8">
      <div class="box">
        <h2>评论</h2>
      </div>
    </div>
    <div class="span4">
      <div class="box">
        <h2>同类应用</h2>
      </div>
    </div>
  </div>
</div>