/*
 *= require jquery.rating 
 */
.app-basic {
  position: relative;
  .my-state {
    display: inline;
    position: absolute;
    right: -30px;
    top: 0px;
  }
}
.app-main .app-using {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #E6E6E6;
}
#comments li {
  border-bottom: 1px solid #ccc;
  margin: 0 -10px 10px;
  padding: 5px 0 15px 5px;
  .infos {
    margin-left: 55px;
    .name {
      height: 20px;
      a {
        color: #888;
      }
    }
  }
}
.appusings {
  padding-bottom: 6px;
  a {
    padding: 0 4px;
  }
}
#app-users ul.thumbnails {
  margin-left: 0;
  & > li {
    margin: 0 4px 4px 8px;
    text-align: center;
    a.user-avatar {
      padding: 4px;
      display: block;
      border: 1px solid #ddd;
    }
    p {
      margin-bottom: 0;
    }
  }
}
#app-star > div {
  overflow-y: hidden;
  .app-star-title {
    text-align: right;
    width: 50px;
  }
}
.app-star-title, .star-rating-control {
  float: left;
}
.my-star a {
    margin-right: 5px;
}