// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.apps  {
}
.apps .app-item {
  position: relative;
  border-bottom: 1px solid #DDD;
  margin-bottom: 15px;
  height: 200px;
}
.app-item .app-name {
  float: left;
}
.app-item .app-node {
  float: right;
}
.apps .thumbnail {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
}
.apps .app-content {
  padding-left: 130px;
}

.well {
  padding-top: 12px;
}
.well h2 {
  font-size: 16px;
}
.well h3 {
  font-size: 14px;
}
