body {
  background-color: #EEE;
}
.navbar .container {
  width: 940px;
}
.box {
  background-color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 0 1px #DDD;
  -webkit-box-shadow: 0 0 0 1px #DDD;
  box-shadow: 0 0 0 1px #DDD;
  padding: 10px;
  h2 {
    margin: 0 -10px 10px -10px;
    color: #999;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    line-height: 30px;
    strong {
      color: #A00;
      margin: 0 4px
    }
  }
}

.box-break {
  padding: 0;
  h2 {
    margin-left: 0;
    margin-right: 0;
  }
}
#login-form, #signup-form, #password-form {
  margin: 30px auto 70px;
  width: 480px;
  padding: 20px;
}
.navbar .label {
  padding: 6px 4px;
}
a,span {
  i {
    margin-right: 2px;
  }
}
.box .pull-right {
  font-size: 12px;
  margin-right: 10px;
}
.app-wrap {
  padding-bottom: 0;
}
#apps, .apps {
  margin: 0 -10px;
  .app-item {
    border-bottom: 1px solid #ddd;
    -moz-box-shadow: 0 0 1px 0 #DDD;
    -webkit-box-shadow: 0 0 1px 0 #DDD;
    box-shadow: 0 0 1px 0 #DDD;
    margin-top: 20px;
  }
  .app-main {
    padding: 20px 20px;
    padding-top: 0;
    .app-desc {
      color: #888;
      margin-top: 6px;
    }
  }
  .app-bar {
    line-height: 30px;
    background-color: #eeefff;
    a,span {
      color: #777;
      margin-right: 4px;
    }
  }
  .app-logo {
    display: block;
    width: 180px;
    height: 100px;
    float: left;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    img {
      margin: 10px 0 0 0;
    }
  }
  .app-title strong {
    color: #565656;
    font-size: 30px;
  }
}

#user-feeds li {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
  div.feed-content p {
    line-height: 10px;
    a {
      margin: 0 4px;
    }
    a:first-child {
      margin-left: 0;
    }
    
  }
  div.feed-content .feed-body {
      color: #777;
  }
}
