body {
  background-color: #EEE;
}
.box {
  background-color: white;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
  -moz-box-shadow: 0 0 0 1px #DDD;
  -webkit-box-shadow: 0 0 0 1px #DDD;
  box-shadow: 0 0 0 1px #DDD;
  padding: 10px;
}
.box h2 {
  margin: 0 -10px 10px -10px;
  color: #999;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  line-height: 30px;
}
// .nav-list .active > a:hover {
  // color: #08C;
// }
.nav-list .active > a, .nav-list .active > a:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #08C;
}
#login-form, #signup-form, #password-form {
  margin: 30px auto 70px;
  width: 480px;
  padding: 20px;
}
.navbar .label {
  padding: 6px 4px;
}
a i {
  margin-right: 4px;
}
.app-title {
  font-size: 30px;
}