<div class="well">
  
  <% if !@node.nil? %>
  <h4><%= link_to @node.name, node_path(@node) %></h4>
  <% end %>
  <p style="text-align: center;">
    <% if @node.nil?%>
      <%= link_to "提交应用", new_app_path, :class => "btn success"%>
    <% else %>
      <%= link_to "提交应用", new_app_path(:node => @node), :class => "btn success"%>
    <% end %>
  </p>
</div>