<% content_for :content do %>
  <div class="span12">
    <%= yield %>
  </div>
  <div class="span4">
    <div class="well">
    <%= yield :sidebar%>
    </div>
  </div>
<% end %>
<%= render :template => "layouts/application"%>